<div class="filters" data-test-id="filters">
  <h3>Filters</h3>
  <p>
    Repository visibility:
    <FilterChipItem
      @dataTestId="toggle-private"
      @isSelected={{@showPrivate}}
      @name="Private"
      @onSelectionChange={{@togglePrivate}}
    />
    <FilterChipItem
      @dataTestId="toggle-public"
      @isSelected={{@showPublic}}
      @name="Public"
      @onSelectionChange={{@togglePublic}}
    />
  </p>
  <p>
    Programming languages:
    {{#each @programmingLanguages as |programmingLanguage|}}
      <FilterChipItem
        @name={{programmingLanguage}}
        @onSelectionChange={{@updateSelectedLanguages}}
      />
    {{else}}
      Unknown
    {{/each}}
  </p>
</div>
