<div>
  <Forms::OrganizationForm
    @organization={{this.github.organization}}
    @showPrivate={{this.github.showPrivate}}
    @isLoading={{this.isLoadingRepositories}}
    @errorMessage={{this.errorMessage}}
    @onSubmit={{this.onSubmitOrganizationForm}}
  />
</div>

{{#if this.isLoading}}
  <p>Loading repositories...</p>
{{else if this.repositories.length}}
  <div class="repository-content-wrapper">
    <hr>
    <Filters
      @showPrivate={{this.showPrivate}}
      @showPublic={{this.showPublic}}
      @programmingLanguages={{this.programmingLanguages}}
      @togglePrivate={{this.togglePrivate}}
      @togglePublic={{this.togglePublic}}
      @updateSelectedLanguages={{this.updateSelectedLanguages}}
    />

    <RepositoryList
      @organization={{this.organization}}
      @repositories={{this.filteredRepositories}}
    />
  </div>
{{else if this.showNoRepositoriesMessage}}
  <p><strong>{{this.submittedOrganization}}</strong> organization has no repositories.</p>
{{/if}}

