<form {{on "submit" this.onSubmit}}>
  <label>
    {{!-- TODO: Nice to have - field validation --}}
    <input
      required
      tabindex="0"
      type="text"
      placeholder="Organization name"
      value={{this.organization}}
      {{on "input" this.updateOrganization}}
    />
  </label>

  <button type="submit" disabled={{@isLoading}}>Fetch repositories</button>

  {{#if @errorMessage}}
    <div class="error">{{@errorMessage}}</div>
  {{/if}}
</form>
